html {
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  background-color: grey;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 800px;
  position: relative;
  overflow: scroll;
  width: 80%;
  max-width: 470px;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
}
/* hide scrollbar for chrome safari and opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for IE, edge and firefox */
.app__videos {
  -ms-overflow-style: none; /*IE Edge*/
  scrollbar-width: none; /*firefox*/
}